<!-- app/views/landing/index.html.erb -->
<section class="hero">
  <h1>Racing Snakes</h1>
  <p>Eat the food. Race your Friends. Survive.</p>
  <a href="#features" class="btn">Play Now!</a>
</section>
