<section class="scanlines font-arcade page-style">
    <h1 class="glow-text main-title drop-shadow-neon">
    "Lite" Cycle
  </h1>
  <p class="text-xl sm:text-2xl text-pink-300 max-w-xl mb-8 drop-shadow">
    Race to Survive.
  </p>
  <%= render(PlayButtonComponent.new(label: "Play Now!", path: game_path(@game))) %>
    </section>

