<section class="min-h-screen w-full flex flex-col justify-center items-center bg-black text-pink-500 font-arcade text-center px-4 relative overflow-hidden">
    <h1 class="glow-text text-6xl sm:text-7xl font-extrabold tracking-widest drop-shadow-neon mb-6 z-10">
    "Lite" Cycle
  </h1>
  <p class="text-xl sm:text-2xl text-pink-300 max-w-xl mb-8 drop-shadow">
    Race to Survive.
  </p>
  <%= link_to "Play Now", game_path(@game), class:"bg-pink-500 text-black px-6 py-3 rounded-md text-lg uppercase font-bold shadow-lg hover:bg-pink-400 transition-all duration-200 border-2 border-pink-300 z-10"%>
    Play Now!
  </a>
</section>

