<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Light Cycles: Demo</title>
     </head>
  <body class="m-0 flex items-center justify-center min-h-screen bg-gray-700">
    <div class="min-h-screen bg-gray-700 flex items-center justify-center m-0">
     <div id="app" class="bg-black border-4 border-blue-500 p-4 w-fit h-fit">
    <!-- Your app mounts here -->
     </div>
   </div>
    <script type="module">
      import "raycaster";
    </script>
  </body>
</html>
