<!DOCTYPE html>
<html lang="en">
  <head><title>Racing Snakes: Graphics Demo</title></head>
  <body>
    <div id="app"></div>
    <script type="module">
      import "raycaster";
    </script>
  </body>
</html>
