<section class="scanlines font-arcade page-style">
    <h1 class="main-title">
      Game Over
  </h1>
    <%= render(PlayButtonComponent.new(label: "Play Again", path: game_path(@game))) %>
    </section>
